@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --headline: #33272a;
    --text: #594a4e;
    --background: #faeee7;
    --primary: #ff8ba7;
    --secondary: #340fa3;
    --accent: #0d0f12;
  }
  .dark {
    --headline: #fffffe;
    --text: #eff0ef;
    --background: #0c0d0c;
    --primary: #ff8ba7;
    --secondary: #2e2f2d;
    --accent: #959197;
  }
}

@layer components {
  h1 {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl  font-semibold md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl  font-semibold md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg  font-semibold md:text-xl;
  }

  .narrow-container {
    @apply w-full max-w-[90%] mx-auto lg:max-w-[50rem];
  }

  .big-container {
    @apply w-full max-w-[90%] mx-auto lg:max-w-[70rem];
  }

  p {
    @apply leading-relaxed text-text text-base lg:text-lg lg:leading-loose;
  }
}

html {
  font-family: var(--font-mulish);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-philospher);
}

section {
  padding: 3rem 0;
}

img {
  width: auto;
  height: auto;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

.heading::after {
  content: '';
  height: 1px;
  width: 100%;
  margin-block: auto;
  margin-top: 0.3em;
  margin-bottom: 0.8em;
  display: block;
  background-color: var(--text);
}

.border-class {
  border: 2px solid red;
}

.parent-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
